<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/addloginuser}" th:object="${newUser}" method="post">
    <p>Login <input type="text" placeholder="Podaj login" th:field="*{login}"/></p>
    <p>Password <input type="password" placeholder="Podaj hasło" th:field="*{password}"/></p>

    <p><input type="reset" value="Reset"></p>
    <p><input type="submit" value="Zapisz"></p>
</form>
</body>
</html>